.home-sections {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    color: white;
}
    
.home-section {
    padding: 1em;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;  
}
    
.lumen-intro {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;               
    color: white;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    width: 50vw;
    animation: lightning 10s ease-out infinite;
    border-style: solid;
}

.guide-images, .canvas-games {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1em;
}

.guide-image {
   width: 128px;
   height: 128px; 
   border-radius: 50%;
   animation: rotation 10s linear infinite;
}
.top-image {
    width: 320px;
    height: 256px;
    border-radius: 10px;
}

.guide-image:hover,.top-image-container:hover {
    color: white;
    box-shadow: 3px 3px 3px 3px #E4EE8C,-4px 3px 3px 3px #E4EE8C;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.top-images {
    display: grid;
    grid-template-columns: 1fr;
}


@media screen and (max-width: 1200px) and (min-width: 800px) {
    .top-images {
        grid-template-columns: 1fr;
    }
    .canvas-games {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .top-images {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1800px) {
    .top-images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    .canvas-games {
        display: none;
    }

    .guide-image {
        width: 32px;
        height: 32px;
    }

    .top-image {
        width: 180px;
        height: 128px;
    }
}

.line {
    color: white;
    width: 100%;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    word-wrap: break-word;
    grid-gap: 1em;
    padding: 1em;
    text-decoration: center;
    justify-items: center;
}

.news-container p {
    font-size: 16px;
    padding: 0.5em;
}

.news-container a {
    text-decoration: none;
}

.news-container img {
    display: block;
    margin: auto;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.news-item h4 {
    margin: 0.2em;
}

.news-item {
    border-style: solid;
    border: 0.5px;
    border-style: solid;
    border-radius: 5px;
    height: auto;
    width: 100%;
}

.news-item:hover {
    box-shadow: 3px 3px 3px 3px #E4EE8C,-4px 3px 3px 3px #E4EE8C;
}

#unreal-image {
    background-color: white;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes lightning {
    0% { opacity: 1; border-color: #E4EE8C; box-shadow: 10px 10px 10px 10px #E4EE8C,-11px 10px 10px 10px #E4EE8C; color: #E4EE8C;} 
    2% { opacity: 0; border-color: #E4EE8C; box-shadow: 6px 6px 6px 6px #E4EE8C,-7px 6px 6px 6px #E4EE8C;}
    3% { opacity: 0.6; border-color: #E4EE8C; box-shadow: 3px 3px 3px 3px #E4EE8C,-4px 3px 3px 3px #E4EE8C;}
    4% { opacity: 0.2; border-color: #E4EE8C; box-shadow: 1px 1px 1px 1px #E4EE8C,-2px 1px 1px 1px #E4EE8C; color: white;}
    6% { opacity: .9; box-shadow: none;} 
    100% { opacity: 1;}
}
