.thread-container {
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80vw;
    margin: 2em auto;
    background-color: rgba(0,0,0,0.8);
    padding: 1em;
    word-wrap: break-word;
}

.thread-title {
    text-decoration: underline;
}

.thread-text {
    font-size: larger;
}

#thread-delete-button {
    margin-left: 90%;
    cursor: pointer;
}

#create-post-form {
    display: flex;
    flex-direction: column;
}

#create-post-button {
    display: block;
    margin: auto;
}

textarea {
    height: 300px;
    font-size: 16px;
}